.App {
<<<<<<< HEAD
  font-family: sans-serif;
  text-align: center;
}
#selected {
  height: Auto;
  width: 350px;
  border-color: aqua;
=======
  font-family: lato;
  text-align: center;
}
input {
  color: black;
  height: 20px;
  width: 350px;
  border-color: #3db2ff;
  border-radius: 2px;
}

table,
th,
td {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-spacing: 0.5px;
  border: 0.1px solid black;
  text-align: center;
>>>>>>> 8ae867e (trainee assignment1)
}
